.main-header {
    display: flex;
    flex-direction: row;
    padding: 40px;
    font: Times New Roman;
    justify-content: center;
    /* text-align: justify; */
    background-color: cornflowerblue;
    color: antiquewhite;
    border-style: solid;
    border: 2px;
    border-color: black;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    

}

nav {
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 0px;
    background-color: darkred;
    justify-content: space-evenly;
    border-style: solid;
    border: 2px;
    border-color: black;
}

nav a {
    /* display: flex; */
    padding: 15px;
    /* border-style: solid; */
    /* border: 2px; */
    /* border-color: black; */
    /* justify-content: space-evenly; */
    /* background-color: darkred; */
    font: Times New Roman;
    color: antiquewhite;
    text-align: center;
    text-decoration: underline;

}

/* main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
} */


footer {
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    margin-top: auto;
}

.addToCart {
    flex: 1;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: whitesmoke;
}

.listGroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 0px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
    flex: 0 0 50px;
    margin-top: auto;
    text-align: center;
    background-color: darkred;
    color: whitesmoke;


}

.list-group-item {
    /* flex: 1; */
    display: flex;
    align-items: center;
    
    
    /* justify-content: space-evenly; */
    width: 60%;
    bottom: 0;
    padding: 0px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
    flex: 0 0 50px;
    margin-top: auto;
    text-align: center;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.myWork {
    flex: 1;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: cornflowerblue;
    text-decoration: underline;
}

.work {
    flex: 1;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: cornflowerblue;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
    flex: 0 0 300px;
    margin: 10px;
    text-align: center;
}